body, html {
    background: rgb(195, 195, 195);
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background:  rgb(140, 0, 0);
    color: rgb(195, 195, 195);
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.footer {
    background: rgb(140, 0, 0);
    color: rgb(195, 195, 195);
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#style_oak img {
    text-align: center;
    width: 1000px;
}

#style_nstu img {
    text-align: center;
    width: 1000px;
}


#page_name {
    color: aliceblue;
    text-align: center;
}

.phyton_txt {
    color: aliceblue;
    font-size: 14px;
    margin-top: 10px;
}
#style_phyton img {
    text-align: center;
    width: 1000px;
}

.something_txt {
    color: aliceblue;
    font-size: 14px;
    margin-top: 10px;
}
#style_something img {
    text-align: center;
    width: 500px;
}