{%extends "base.html"%}

{%block lab%}Лабораторная работа 2{%endblock%}

{%block main%}
<div>
    <div style="display: inline-block;"><h1>Темная BMW</h1><img src="/static/car1.jpg"></div>
    <div style="display: inline-block;"><h1>Красный Hyundai</h1><img src="/static/car2.jpg"></div>
    <div style="display: inline-block;"><h1>Белый Bentley</h1><img src="/static/car3.jpg"></div>
    <div style="display: inline-block;"><h1>Серебристый Mercedes-Benz</h1><img src="/static/car4.jpg"></div>
    <div style="display: inline-block;"><h1>Серебристый Lexus</h1><img src="/static/car5.jpg"></div>
</div>

{%endblock%}